<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
<servlet>
  <servlet-name>dwr-invoker</servlet-name>
  <display-name>DWR Servlet</display-name>
  <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
  <init-param>
     <param-name>debug</param-name>
     <param-value>true</param-value>
  </init-param>
</servlet>

<servlet-mapping>
  <servlet-name>dwr-invoker</servlet-name>
  <url-pattern>/dwr/*</url-pattern>
</servlet-mapping>


<servlet>
  <servlet-name>Initialize</servlet-name>
  <servlet-class>com.mayo.servlets.Initialize</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>Initialize</servlet-name>
  <url-pattern>/initialize/*</url-pattern>
</servlet-mapping>


</web-app>


